<!DOCTYPE html>
<html>
<head>
<meta charset="UTF8">
<title>Play Your Hand</title>
<link rel="stylesheet" href="blackjack.css" />
</head>
<body>

<h1>Twenty-One</h1>

{{#game.deckStillHasCards}}
<h2>Dealer Hand</h2>

<!--  {{^game.showDealerCards}}
<div> Dealer up card is {{ game.dealerUpValue }} of {{ game.dealerUpSuit }}</div>
{{/game.showDealerCards}}-->

{{#game.showDealerCards}}
	{{#game.dealerHand.cards}}
		<div>{{ face }} of {{ suit }}  </div>
	{{/game.dealerHand.cards }}
		<div>Dealer Total {{ game.dealerTotal }}</div>
{{/game.showDealerCards}}

{{#game.dealerBust}}
	<h4>dealer BUST!</h4>
{{/game.dealerBust}}

<h2>Player hand</h2>
	
{{#game.playerHand.cards}}
	<div>{{ face }} of {{ suit }} </div>
{{/game.playerHand.cards}}

<div>Player Total {{ game.playerTotal }}</div>
<div>You have ${{ game.cashOnHand }}</div>

{{#game.playerBust}}
	<h4>BUST! You Lose</h4>
{{/game.playerBust}}


{{#game.showPlayerButtons}}

	<form method="post" action="/hit">
		<button>Hit me</button>
	</form>
	<form method="post" action="/stand">
		<button>Stand</button>
	</form>
		
{{/game.showPlayerButtons}}
 
{{^game.showPlayerButtons}}
{{#game.outOfMoney}}
	<p>You are a loser and out of money</p>
	<p>Please visit one of our ATMs conveniently located in our lobby to get more money</p>
{{/game.outOfMoney}}
{{/game.showPlayerButtons}}
	
{{^game.outOfMoney}}
	{{^game.showPlayerButtons}}
			<form method="post" action="/bet">
			<h4>Would you like to play again? Enter a new bet amount and hit "Deal Again"</h4>
				<input type="number" max="{{ game.cashOnHand }}" required name="bet">
			<button>Deal Again</button>
		</form>
	{{/game.showPlayerButtons}}
{{/game.outOfMoney}}
{{/game.deckStillHasCards}}


{{^game.deckStillHasCards}}
<p>Sorry, we are out of cards. Game is over</p>
{{/game.deckStillHasCards}}



</body>
</html>