<!DOCTYPE html>
<html>
<head>
<meta charset="UTF8">
<title>Play Your Hand</title>
<link rel="stylesheet" href="blackjack.css" />
</head>
<body>

<h1>Twenty-One</h1>

{{#game.deckStillHasCards}}
<h2>Dealer Hand</h2>

<div id="dealer">
{{#game.showDealerCard}}
{{^game.showDealerCards}}
<div>{{ game.dealerHand.cards.0.face }} of {{ game.dealerHand.cards.0.suit }}  </div>
{{/game.showDealerCards}}
{{/game.showDealerCard}}

{{#game.showDealerCards}}
	{{#game.dealerHand.cards}}
		<div>{{ face }} of {{ suit }}  </div>
	{{/game.dealerHand.cards }}
	<br>
	<div id="dealer-tot">
		<div>Dealer Total {{ game.dealerTotal }}</div>
	</div>
{{/game.showDealerCards}}

{{#game.dealerBust}}
	<h3>dealer BUST!</h3>
{{/game.dealerBust}}

</div>


<h2>Player hand</h2>
<div id="player">
	
	{{#game.playerHand.cards}}
		<div>{{ face }} of {{ suit }} </div>
	{{/game.playerHand.cards}}
	<br>
	<div id=player-tot>
	<div>Player Total {{ game.playerTotal }}</div>
</div>

<br>
<div>Your bet is ${{ game.currentBet }} and you have ${{ game.cashOnHand }} left.</div>

{{#game.playerBust}}
	<h3>BUST! You Lose</h3>
{{/game.playerBust}}


{{#game.showPlayerButtons}}

	<div>Do you want to double down?  If you choose yes, you will only get one more card.</div>
	<form method="post" action="/ddown">
		<button>Yes. Give me 1 card and double my bet.</button>
	</form>
	<form method="post" action="/hit">
		<button>No Double Down, just hit me</button>
	</form>
	<form method="post" action="/stand">
		<button>No Double Down, I'll Stand</button>
	</form>
		
{{/game.showPlayerButtons}}
 
{{^game.showPlayerButtons}}
{{#game.outOfMoney}}
	<p>Dealer won</p>
	<p>You are a loser and out of money</p>
	<p>Please visit one of our ATMs conveniently located in our lobby to get more money</p>
{{/game.outOfMoney}}
{{/game.showPlayerButtons}}
	
{{^game.outOfMoney}}
	{{^game.showPlayerButtons}}
			<form method="post" action="/bet">
			<h4>Would you like to play again? Enter a new bet amount and hit "Deal Again"</h4>
				<input type="number" max="{{ game.cashOnHand }}" required name="bet">
			<button>Deal Again</button>
		</form>
	{{/game.showPlayerButtons}}
{{/game.outOfMoney}}
{{/game.deckStillHasCards}}

</div>

{{^game.deckStillHasCards}}
<p>Sorry, we are out of cards. Game is over</p>
{{/game.deckStillHasCards}}



</body>
</html>